@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.5;
    background-color: #000000;
    color: #ffffff;
}


.container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}

#fondo {
    background-image: url('img/portada-gimnasio.png');
    background-size: cover;
}

header {
    padding: 30px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav li {
    display: inline-block;
    margin: 0 20px;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.logo  {
    color: #e0e007;
}

#portada textos {
    padding: 0 5%;
}

#portada-textos h2 {
    font-size: 80px;
    font-weight: 500;
    line-height: 1.5;
    width: 80%;
    margin: 10% 0 5% 0;
}

#portada-textos a {
    background-color: #ffff00;
    color: #404040;
    padding: 20px 60px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
}

#razones {
    margin: 10% auto;
}

#razones h2 {
    font-size: 50px;
}

.cont-razones {
    display: flex;
    justify-content: space-between;
}

.razon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    font-size: 24px;
    margin-bottom: 40px;
}

.razon img {
    margin-right: 40px;
}

#membresias h2 {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
}

#membresias-cards {
    display: flex;
    justify-content: space-between;
    padding: 0 12%;
}

.membresia-card {
    background-color: #111111;
    border-radius: 10px;
    width: 30%;
}

.membresia-card-header {
    border-bottom: 1px solid #000000;
    padding: 30px;
}

.membresia-card-header h3 {
    margin: 0;
    font-size: 26px;
    text-align: center;
}

.membresia-card-header p {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.membresia-card-contenido {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 500px;
}

.membresia-card-contenido ul {
    list-style: none;
    padding: 0;
}

.membresia-card-contenido i {
    margin-right: 10px;
}

.membresia-card-footer {
    display: flex;
    justify-content: center;
}

.boton-compra {
    padding: 10px 40px;
    background-color: #ffff00;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    border-radius: 20px;
}

#nosotros {
    margin: 10% auto;
}

#nosotros h2 {
    font-size: 60px;
    margin-bottom: -20px;
}

.nosotros-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.nosotros-content {
    width: 40%;
    font-size: 20px;
    line-height: 1.5;
}

.nosotros-img {
    width: 50%;
}

.nosotros-img img {
    width: 100%;
}

#contacto {
    margin: 10% auto;
}

#contacto h2 {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
}


#contacto form {
    border-radius: 10px;
    background-color: #111111;
    padding: 60px 30px;
}



