@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #92B4F4;
    border-radius: 12px;
    border: 3px solid black;
}

body {
    background-image: url(img/fondo-body.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1400px;
}

#fondo {
    background-image: url('img/bienvenido.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 90px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    color: white;
    width: 100%;
    z-index: 2;
    position: fixed;
    background-color: transparent; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

header.active {
    background-color: white; 
    color: black; 
}

header nav a {
    text-decoration: none;
    color: white; 
    font-size: 20px;
}

header.active nav a {
    color: black; 
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav li {
    display: inline-block;
    margin: 15px;
}

header .idiomas {
    list-style: none;
    padding: 0;
    margin-right: 200px;
}

header .idiomas li {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

header .idiomas li::before {
    content: "";
    display: flex;
    width: 40px;
    height: 25px;
    margin-right: 10px;
    background-image: url("img/idiomas.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    justify-content: space-between;
    font-size: 20px;
}

#portada-textos {
    padding: 5% 5% 5% 5%;
}

#portada-textos h2 {
    color: #ffffff;
    font-family: 'Libre Bodoni';
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    line-height: 1.5;
    width: 85%;
    margin: 10% 10% 10% 10%;
}

/*fondo dos */
#fondo-2 {
    background-image: url('img/bienvenido.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
}

#portada-2 {
    padding: 5% 5% 5% 5%;
}

#portada-2 span{
    font-size: 'Libre+Bodoni'; /*falta*/

}

#portada-2 h2 {
    font-family: 'Libre Bodoni';
    color: #205375;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.5;
    width: 80%;
    margin: 0% 10% 0% 10%;
    text-align: center;
}

#secundario{
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#secundario h3{
    font-family: 'Nunito';
    font-stretch: expanded;
    font-size: 25px;
    display: inline-block;
    color: #ffffff;
    transform: scaleX(1.3);
    margin: 0 0 3% 0;
}


#fondo-2 a {
    background-color:  #66AAA0;
    color: #ffffff;
    padding: 15px 70px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
    margin: 0% 15% 15% 15%;

}

/*Fondo tres */

#Limite-blanco{
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    background-color: transparent;

}

#Limite-blanco h2{
    font-family: 'Libre Bodoni';
    color: #205375;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.5;
    width: 100%;
    margin-left:160%;
}


#fondo-3 {
    background-image: url('img/elegant.jpg');
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10%;
}

#vidantaworld{
    background-image: url('img/elegant-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 20%;
    right: 75%;

}

#fondo-3 a {
    background-color:  #66AAA0;
    color: #ffffff;
    padding: 15px 70px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
}

/*fondo 4 */

.Destinos h3{
    font-family: 'Nunito';
    font-stretch: expanded;
    font-size: 25px;
    display: inline-block;
    color:  #848484;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}

#tarjetas-turisticas{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.slide-container{
    max-width: 1800px;
    width: 100%;
    background-color: transparent;
    padding: 40px 0 ;
}

.slide-content{
    margin: 0 40px;
}

.card{
    height: 500px;
    width: 320px;
    border-radius: 25px;
    background-color:#E9EDC9 ;
}

.image-content, .card-content{
    display: flex;
    padding: 10px 14px;
    flex-direction: column;
    align-items: center;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:  #66AAA0 ;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content:'';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 20px;
    background-color: #66AAA0 ;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #E9EDC9;
}

.card-image{
    position: relative;
    height: 300px;
    width: 300px;
    padding: 3px;
    background: #ffffff;
    padding: 3px;
    border-radius: 50%;
}

.lugar{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.description{
    font-size: 14px;
    color: black;
    text-align: center;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #205375;
}


.button{
    border: none;
    font-size: 16px;
    color: #ffffff;
    padding: 8px 16px ;
    background-color:  #66AAA0;
    border-radius: 40px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background: #ffffff;
    color: black;
}

#Fondo-5{

    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

}

#portada-5 h2 {
    font-family: 'Libre Bodoni';
    color: #205375;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.5;
    width: 80%;
    margin: 0% 10% 0% 10%;
    text-align: center;
}

.Resort h3{

    font-family: 'Nunito';
    font-stretch: expanded;
    font-size: 25px;
    display: inline-block;
    color:  #848484;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}

#Fondo-5-tarjetas{
    font-family: 'Nunito';
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: transparent;
    text-align: center;
    margin-top: -10%;
}

.card-mini{
    margin: 30px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}

.lugares{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    opacity: 0;
    transition: .5s;
}

.lugares h2, a{
    color: rgba(255, 255, 255, .8);
}

.card-mini:hover .lugares{
    opacity: 1;
}

/*Fondo 6*/
#fondo-6 {
    background-image: url('img/experiencias.jpg');
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10%;
    margin-top: -10%;
}

#experiencias-1 h1{
    font-family: 'Libre Bodoni';
    color: white;
    font-size: 60px;
    margin-top: 10%;
    

}

#fondo-6 a {
    background-color:  #66AAA0;
    color: #ffffff;
    padding: 15px 70px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 4%;
}

/*fondo 7 */


.contenedor {
    display: grid;
    place-items: center;
    margin-inline: 24px;
    padding-block: 80px;
}


.card-experiencias {
    display: flex;
    row-gap: 56px;
    gap: 80px;
}


.card-articulo {
    position: relative;
    overflow: hidden; 
    width: 328px;
    border-radius: 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-articulo:hover {
    transform: translateY(-10px); 
}


.card-img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    transition: transform 0.3s ease-in-out; 
}

.card-articulo:hover .card-img {
    transform: scale(1.1); 
}


.card-data {
    width: 280px;
    background-color: var(--contenedor-color, #fff); 
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -100%; 
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease-in-out; 
}

.card-articulo:hover .card-data {
    bottom: 10%; 
}

.card-title img {
    width: 100%;
    height: auto;
    display: block;
}

.card-description {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
    text-align: center;
}

.card-button {
    display: inline-block;
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #205375;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
}

/*footer*/

.footer {
    background-color: #00263b; 
    color: #fff;
    font-family: 'Libre Bodoni';
    padding: 60px 0;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    padding: 60px;
    border-bottom: 1px solid #006b73;
}

.footer-column,
.footer-logo,
.footer-contact,
.footer-social {
    flex: 1;
    min-width: 150px;
    margin: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-logo img {
    max-height: 60px;
}

.footer-contact p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-social a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 30px 0;
    background-color: #006b73; /* Línea inferior */
    font-size: 20px;
}